@import 'tailwindcss';
@import '@fontsource/fira-mono';

:root {
	--font-body:
		Arial, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
		'Open Sans', 'Helvetica Neue', sans-serif;
	--font-mono: 'Fira Mono', monospace;

	--color-bg-0: rgb(14, 25, 37);
	--color-bg-1: hsl(209, 62%, 12%);
	--color-bg-2: hsl(223, 61%, 8%);

	--color-theme-1: #ff3e00;
	--color-theme-2: #4075a6;

	--color-text: rgba(0, 0, 0, 0.7);

	--column-width: 42rem;
	--column-margin-top: 4rem;

	font-family: var(--font-body);

	color: var(--color-text);
}

body {
	min-height: 100vh;
	margin: 0;
	background-attachment: fixed;
	background-color: #24273a;
	background-size: 100vw 100vh;
}